/* Basislayout */

html, body {
    height: 100%;
    padding: 0;
    background-color: rgb(131, 184, 46);  
    
    color: #ffffff;
    font: Verdana, Arial, Sans-Serif;
}


main {
    margin: 0 auto;
    width: 700px;
    position: relative;
}


article {
    text-align: justify;
}

.float-left {
    text-align:left;
}
.float-center{
    text-align:center;
}

header {
    color: rgb(0, 0, 0);
    text-align: center;
}


footer {
    text-align: center;
    padding-bottom: 10px;
    clear:both;
}


/* specifieke stijlen */

img.float-right{
    float: right;
    margin-left: 15px;
   margin-bottom:7px;
}
img#float-right{
    float: right;
    margin-left: 15px;
   margin-bottom:7px;
   width:150px;
}

.smalltext {
    font-size: 0.7em;
}

a {
    color: skyblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color:purple;
}
nav a:hover {
    text-decoration: underline;
    color:rgb(131, 184, 46);
}


/* navigatiebalk */
nav ul {
    list-style-type: none;
    margin:auto;
    padding:0;
    background-color: #dddddd;
    overflow: hidden;
    position:relative;
    background-repeat: no-repeat;
    background-image: url(https://i.dailymail.co.uk/1s/2020/06/02/15/29129432-8380571-image-a-31_1591109950647.jpg);
    background-size:cover;
    background-position:50% 30%;
    height: 100px;
    width: 380px;
    font-size:120%;
    text-align:center;
 

}


nav ul li {
    float:left ;
    
    
}

nav li a {
    display:block;
    color: rgba(255, 255, 255, 0.63);
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
    
}

nav li a:hover {
    background-color: #0000007e;
}

nav li a.active {
    
    color:white;
}

nav ol li {
    font-size:120%;
}



